<!DOCTYPE html>
<html lang="{{language}}">

<head>
	<meta charset="utf-8" />
	<title>WBO — {{translations.collaborative_whiteboard}}</title>
	<link rel="stylesheet" href="index.css" />
	<meta name="description" content="{{translations.tagline}}" />
	<meta name="keywords"
		content="whiteboard,collaborative,online,draw,paint,shared,realtime,wbo,whitebophir,open-source,GPL,javascript" />
	<link rel="icon" type="image/x-icon" sizes="16x16" href="favicon.ico">
	<link rel="apple-touch-icon" href="favicon.svg">
	<link rel="mask-icon" href="favicon.svg" color="black">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:url" content="https://wbo.ophir.dev">
	<meta property="og:image" content="{{baseUrl}}/favicon.svg">
	<link rel="canonical" href="?lang={{language}}" />
	{{#languages}}
	<link rel="alternate" hreflang="{{.}}" href="?lang={{.}}" />{{/languages}}
	<link rel="manifest" href="manifest.json">
	<script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
	<meta name="theme-color" content="#C4DFFF" />
</head>

<body>

	<header>
		<h1>WBO</h1>
		<nav class="lang-selector">
			<span>{{language}}</span>
			<ul>
				{{#languages}}
				<li><a href="?lang={{.}}" hreflang="{{.}}" rel="alternate">{{.}}</a></li>
				{{/languages}}
			</ul>
		</nav>
	</header>

	<main>
		<div id="description">
			<h3>{{translations.index_title}}</h3>
			<p>{{{translations.introduction_paragraph}}}</p>
			<p>{{{translations.share_instructions}}}</p>
		</div>

		<div>
			<p>{{{translations.public_board_description}}}</p>
			<a href="boards/anonymous" class="wbo-button">{{{translations.open_public_board}}}</a>
		</div>

		<div>
			<p>{{{translations.private_board_description}}}</p>
			<a href="random" class="wbo-button">{{{translations.create_private_board}}}</a>
		</div>

		<div>
			<p><label for="board">{{{translations.named_private_board_description}}}</label></p>
			<form action="boards" method="GET">
				<input type="text" id="board" name="board" placeholder="{{{translations.board_name_placeholder}}}" />
				<input type="submit" value="Go">
			</form>
		</div>
	</main>


	<footer>
		<a href="https://www.instagram.com/wbo_whiteboard/" class="smallink" rel="external" title="Instagram"><img
				alt="instagram" src="instagram.svg" width="30" height="30" /></a>
		<a href="https://github.com/lovasoa/whitebophir" class="smallink" rel="external"
			title="{{translations.view_source}}"><img alt="github" src="github.svg" width="30" height="30" />
		</a>
	</footer>
</body>

</html>
